# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pycharm project files
.idea/

# Various reports
.coverage
reports/

# Logger files
*.log

# Ignore csv datasets directory
assist_material/datasets/csv/*
